<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,0">
    <title>Restaurant 0</title>
    <link rel="stylesheet" href="menu1.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="menu">
    <div class="heading">
        <h1>RESTAURANT 0</h1>
        <h3>&mdash; MENU &mdash;</h3>
    </div>
    <div class="food-items">
        <img src="chickenPizza.jpg">
        <div class="details">
            <div class="details-sub">
                <h5>Chicken Pizza</h5>
                <h5 class="price">$9.00</h5>
            </div>
            <p>Tasty and tender chicken with BBQ sauce to accentuate the rich Italian flavours.</p>
            <button>Order Now!</button>

        </div>
    </div>
    <div class="food-items">
        <img src="veggieBurger.jpg">
        <div class="details">
            <div class="details-sub">
                <h5>Veggie Burger</h5>
                <h5 class="price">$6.00</h5>
            </div>
            <p>Brioche and a Burger for all our veggie lovers!</p>
            <button>Order Now!</button>

        </div>
    </div>
    <div class="food-items">
        <img src="cheesePizza.jpg">
        <div class="details">
            <div class="details-sub">
                <h5>Cheese Pizza</h5>
                <h5 class="price">$7.00</h5>
            </div>
            <p>Savoury feta and mozzarella along with perfectly oven-baked bread. Tomato sauce for the soul.</p>
            <button>Order Now!</button>

        </div>
    </div>
</div>
</body>
</html>