<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,0">
    <title>Restaurant 0</title>
    <link rel="stylesheet" href="menu1.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="menu">
    <div class="heading">
        <h1>RESTAURANT 0</h1>
        <h3>&mdash; MENU &mdash;</h3>
    </div>
    <div class="food-items">

    </div>
</div>
</body>
</html>