@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fbf5f3
    
}
.wrapper{
    width: 420px;
    color: #fbf5f3;
    background:linear-gradient(#c42021ff,  #f3752bff);
}
.wrapper h1{
    font-size: 36px;
    text-align:center;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 50px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: #fbf5f3;
    border: none;
    outline: none;
    border: 1px solid color(#fbf5f3);
    border-radius: 40px; 
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color:#1e2d2fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color:#1e2d2fff;

}