@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    padding: 3px;
    align-items: center;
    min-height: 100vh;
    background: #fbf5f3;
}

.wrapper {
    width: 420px;
    height: 420px;
    color: #fbf5f3;
    background: linear-gradient(#c42021ff, #f3752bff);
    border-radius: 48px;
    text-align: center; /* Center the content */
}

.wrapper h1 {
    font-size: 36px;
    margin: 10px;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 50px 0;
}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    color: #1e2d2fff;
}

.input-box input {
    width: calc(100% - 40px); /* Adjusted width to account for icon space */
    height: 100%;
    background: #fbf5f3;
    border: none;
    outline: none;
    border: 1px solid #fbf5f3;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 60px; /* Increased left padding for icon */
}

.input-box input::placeholder {
    color: #1e2d2fff;
}

ul.listings{
 margin:10px;
 padding: 4px;
}

.wrapper .btn {
    width: 100px;
    height: 40px;
    margin: 20px 0;
    background: #fbf5f3;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
