<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FoodPlug - Subscribe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="subscStyle.css">
    <style>
        .menu-card {
            /* Define styles for your menu card */
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <h2><strong>Available Restaurants</strong></h2>
    <ul class="listings" style="list-style: none;">
        <li>Restaurant0</li>
        <li>Restaurant1</li>
        <li>Restaurant2</li>
        <li>Restaurant3</li>
        <li>Restaurant4</li>
        <li>Restaurant5</li>
        <li>Restaurant6</li>
        <li>Restaurant7</li>
        <li>Restaurant8</li>
        <li>Restaurant9</li>
    </ul>
</div>
<div class="wrapper">
    <form th:action="@{/subscribe}" method="post">
        <h1><strong>Subscribe to Restaurants</strong></h1>

        <div class="input-box">
            <label for="restaurants">Select Restaurants to Subscribe (comma-separated):</label>
            <input type="text" name="restaurants" id="restaurants" placeholder="make your selection" required>
        </div>

        <button type="submit" class="btn">Subscribe</button>
    </form>
</div>

</body>
</html>

